<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
   {{>navbar}}

    <!-- main headerr--------------- -->
    <div class="container-fluid main_header ">
        <div class="row ">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                       <figure class="errimg">
                        <img src="images/404.png" alt="human" class="img-fluid " title="Pradeep Kumavat">
                       </figure>
                        <p>I am <span class="text_clr">Pradeep Kumavat </span></p>
                        <h1> {{errorMsg}} </h1>
                        <a href="/"><button>check now</button></a>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer ------------->
    {{>footer}}
  </body>
</html>
